@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap'); 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  font-family: 'Oswald', sans-serif;
}



.button{
  padding: 1.5rem 2rem;
  margin: 0.2rem 0.09rem;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
  width: 5rem;
}

.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.row input{
  padding: 1rem 0rem;
  margin: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 1.73em;
}